body {
    padding: 0 5%;
    font-family: "Noto Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 999; 
}

.logo {
    margin-right: auto;
}

.navbar a {
    font-family: "Noto Sans", sans-serif;
    color: rgb(45, 45, 45);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    position: relative;
}
  
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
  
.navbar a:hover::after {
    background-color: rgb(255, 136, 128);
}
  
.navbar a:hover {
    color: rgb(255, 136, 128);
}
  
.navbar a:first-child {
    margin-left: auto;
}


p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(165, 165, 165);
    font-size: large;
}
.content{
    display: flex;
    padding: 20%;
}
.ctme{
    width: 360px;
    max-width: 420px;
    height: 350px;
    margin: 10% 10% 10% 0;
    margin-top: 150px;
    padding-top: 50px;
    padding-left: 50px;
    background-color:rgb(208, 232, 234);
    border-radius: 4%;
}
.contactinfo{
    margin-left: 40px;
    margin-top: 150px;
    padding-top: 50px;

}
.inputBox{
    padding: 10px;
}
.tt{
    padding: 10px;
    color: gray;
    text-decoration: none;
    transition: color 0.3s;
}

.tt:hover{
    color: rgb(245, 212, 109);
}
.buttonn{
    display:flex;
    font-size: x-large;
}
.buttons{
    display: flex;
}
.icons {
    font-size: 30px;
    padding: 0 15px 0 15px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .icons:hover {
    color: rgb(245, 212, 109);
  }
  .buttons{
    display:flex;
}

.buttons a{
    margin-top: 5px;
    color: rgb(140, 183, 173);
    font-size: large;
}