* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Noto Sans", sans-serif;

}

.navbar {
  position: fixed;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 999; 
}

.logo {
  margin-right: auto;
}

.navbar a {
  font-family: "Noto Sans", sans-serif;
  color: rgb(45, 45, 45);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  position: relative;
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar a:hover::after {
  background-color: rgb(255, 136, 128);
}

.navbar a:hover {
  color: rgb(255, 136, 128);
}

.navbar a:first-child {
  margin-left: auto;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background-color: rgb(244, 244, 244);
    max-width: 90vw;
    height: auto;
}
.info{
    font-family: "Source Code Pro", monospace;;
    text-align: center;
    padding-left: 50px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#im1{
    padding-top: 90px;
    padding-right: 50px;
    flex-shrink: 0; 
  }
p{
    display: flex;
    color: rgb(203, 203, 203);
    font-size: large;
}
h1{
    color: rgb(45, 45, 45);
}
#saja{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-size: 80px;
    font-weight: bold;
    color: rgb(140, 183, 173);
}

.buttons{
    display:flex;
    font-size: x-large;
}
.icon {
    font-size: 24px;
    padding: 0 15px 0 15px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: rgb(245, 212, 109);
  }

.intro{
  margin-top: 100px;
}
.intro p{
  width: 600px;
  margin-right: 60px;
}
.intro img{
  margin-top: 50px;
  margin-left: 20px;
}
.talk{
  display: flex;
}
h1{
  color: rgb(140, 183, 173);
}
ul{
  color: rgb(203, 203, 203);
  font-size: large; 
  margin-bottom: 3px;
  margin-left: 35px;
}
li{
  text-decoration: none;
  transition: color 0.01s;
  transition-duration: 1s;
}
li:hover{
  color: rgb(197, 109, 109);
}
h2{
  padding: 6%;
  font-size: 60px;
  color: rgb(140, 183, 173);
}

